In [1]:
import warnings
import matplotlib.pyplot as plt
from utils import *

warnings.filterwarnings('ignore')

In [13]:
df = pd.read_csv('../temp/dataset_02[시간별목적별전력온습도].csv')
df['base'] = df['use'] / df['sum']
df['sum'] = df.pop('sum')
df

,year,month,day,hour,use,temp,humid,공용공간,학생자율,교수연구,연구공간,학술지원,행정지원,강의지원,base,sum
0,2017,1,1,1,134.459023,1.3,93.0,1.0,1.0,1.226667,20.700000,19.851373,9.380392,2.350000,2.422317,55.508431
1,2017,1,1,2,133.912851,0.9,95.0,1.0,1.0,1.283663,21.661811,20.904787,9.807492,2.463059,2.304043,58.120812
2,2017,1,1,3,134.201172,0.7,95.0,1.0,1.0,1.346256,22.718062,22.000000,10.308370,2.573789,2.201951,60.946476
3,2017,1,1,4,133.930724,0.3,97.0,1.0,1.0,1.392898,23.505155,22.804009,10.676976,2.635739,2.125386,63.014777
4,2017,1,1,5,134.012838,-0.3,97.0,1.0,1.0,1.406228,23.730104,22.909458,10.915802,2.657439,2.106490,63.619031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38659,2021,5,31,20,92.315419,24.7,42.0,1.0,1.0,1.389136,23.441674,20.274354,11.703473,2.345503,1.509553,61.154141
38660,2021,5,31,21,91.397286,23.5,45.0,1.0,1.0,1.345487,22.705094,20.225112,11.385165,2.230563,1.526050,59.891421
38661,2021,5,31,22,90.623291,22.8,51.0,1.0,1.0,1.325798,22.372835,20.506563,10.938013,2.127621,1.528969,59.270830
38662,2021,5,31,23,90.582110,21.8,55.0,1.0,1.0,1.319245,22.262264,21.093868,10.412264,2.063208,1.531375,59.150849
38663,2021,5,31,24,76.696808,21.2,56.0,1.0,1.0,1.347610,22.740918,21.506405,10.079350,2.039197,1.284414,59.713480

In [17]:
df__ = df.copy()
cols = df__.columns[7:-2]
print(cols)
for col in cols:
    df__[col] *= df__['base']

df__.drop(['base', 'sum'], axis=1, inplace=True)

df__.to_csv('./dataset/1d/dataset_1d__.csv', index=False)

Index(['공용공간', '학생자율', '교수연구', '연구공간', '학술지원', '행정지원', '강의지원'], dtype='object')

In [3]:
"""
cols = list(df.columns[7:-2])

for col in cols:
    df[col] *= df['base']

temper = {'강의지원': 23, '공용공간': np.nan, '교수연구': 20, '연구공간': 14, '학생자율': 18, '학술지원': 16, '행정지원': 18}
humid = {'강의지원': 50, '공용공간': np.nan, '교수연구': 60, '연구공간': 50, '학생자율': 60, '학술지원': 50, '행정지원': 60}

split = []

for col in cols:
    temp = list(df.columns[:7])
    temp.append(col)
    val = df[temp].copy()
    val.drop('use', axis=1, inplace=True)
    val.rename(columns={col:'use'}, inplace=True)
    val['space'] = col
    val['temp'] = temper[col] - val['temp']
    val['humid'] = humid[col] - val['humid']
    split.append(val)

for i in range(len(split)):
    if i==0:
        res = pd.concat([split[i], split[i+1]])
    else:
        try:
            res = pd.concat([res, split[i+1]])
        except:
            break

res.rename(columns={'use':'elec'}, inplace=True)
res.sort_values(['year','month','day','hour','space'], inplace=True)
display(res)

# 여기까지(결측치 보강은 [01]파일에서 진행 완)
check_path('./dataset/1d')
res.to_csv('./dataset/1d/dataset_1d.csv', index=False)
"""

       year  month  day  hour  temp  humid       elec space
0      2017      1    1     1  21.7  -43.0   5.692445  강의지원
0      2017      1    1     1   NaN    NaN   2.422317  공용공간
0      2017      1    1     1  18.7  -33.0   2.971376  교수연구
0      2017      1    1     1  12.7  -43.0  50.141964  연구공간
0      2017      1    1     1  16.7  -33.0   2.422317  학생자율
...     ...    ...  ...   ...   ...    ...        ...   ...
38663  2021      5   31    24  -1.2    4.0   1.730889  교수연구
38663  2021      5   31    24  -7.2   -6.0  29.208745  연구공간
38663  2021      5   31    24  -3.2    4.0   1.284414  학생자율
38663  2021      5   31    24  -5.2   -6.0  27.623120  학술지원
38663  2021      5   31    24  -3.2    4.0  12.946054  행정지원

[270648 rows x 8 columns]